<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--app setting-->
	<appSettings>
		<add key="AppVersion" value="1.0.0"/>
		<add key="ImagePath" value="Images/"/>
		<add key="DataSetPath" value="D:\py\char_dataset/"/>
		<add key="TemplatePath" value="D:\py\Templates/"/>
		<add key="IsUseGarbageCollection" value="false"/>
		<add key="SkewAngle" value="30"/>
		<add key="DocPath" value="Documents\\SystemDocumentation.html"/>
		<add key="UserManualPath" value="Documents\\UserManual.html"/>
	



	<!-- Add GS1 QC Check settings -->
	<add key="IsGenerateReport" value="true"/>
	<!--<add key="axialNonUniformity_A" value="0.06"/>
	<add key="axialNonUniformity_B" value="0.08"/>
	<add key="axialNonUniformity_C" value="0.10"/>
	<add key="axialNonUniformity_D" value="0.12"/>
	<add key="axialNonUniformity_F" value="1"/>-->


	</appSettings>
</configuration>